*{
    margin:0;
    padding:0;
}

/* heading */
body{
    font-family: 'Jost', sans-serif;
}

div.location{
    color:#5a5a5a;
    margin-top: 2%;
    margin-left: 2%;
    text-transform: capitalize;
}

.smallcontainer .heading_top{
    font-family: 'Jost', sans-serif;
    margin-bottom: 5%;
}

.heading_top h3, .heading_top h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px; 
    margin:0; 
   
}
.heading_top h1{
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    margin-bottom: 5%;
}
.heading_top h3{
    font-weight: 400;
    color: #5a5a5a;
}

.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;
}

.smallcontainer{
    width: 25%;
    height:50%;
    /*background-color:wheat;*/
    border-radius: 10px;
    text-align: center;
    margin-bottom: 5%;
}

.smallcontainer a{
    text-decoration: none;
    color:#000;
}

.smallcontainer img{
    width:70%;
    height:80%;
    padding: 0.1px;
    border-bottom:1px solid #eee ;
    padding: 10px;
}

.smallcontainer img:hover{
    border:1px solid #eee;
}

.brand_name{
    text-transform: uppercase;
    margin:0;
    /* color: #5796a0; */
    color: #3c6d75;
    padding-bottom: 2%;
    font-weight: 700;
}

.product_name{
    font-weight: 400;
    text-transform: capitalize;
    margin:0;
    padding-bottom: 1%;
}

.smallcontainer i{
    
    color:#222;
    padding-bottom: 2%;
}

.product_price{
    font-size: 20px;
    font-weight: 600;
}

.original_price{
    color:#5a5a5a;
}

.product_offer{
    color: #3c6d75;
}