
#size {
    display: flex;
    justify-items:center
}

.container{
    height: 100vh;
}

.form{
    height: 100%;
}


input[type=checkbox] {
        accent-color: #000;
}

.form-row label{
    font-weight: 500;
    text-transform: uppercase;
}

.form-row:first-child{
margin-top: 10px;
}

.form-row h4{
    text-align: center;
    text-transform: uppercase;
  
}

button[type=submit]{
    text-transform: uppercase;
}

.inputdetails{
    margin-bottom: 5% ;
    border-bottom: 1px solid #000;
}

/* input[type=checkbox] + label{
    border: 1px solid #000;
    width: 100px;
    border-radius: 50%;
    height: 2.5rem;
    width: 3rem;
    margin-right: 0.5em;
    text-align:center;
    display:flex;
    justify-content: center;
    align-items: center;
} */
/* 
input[type=checkbox]:checked + label {
    background-color: #000;
    color: #fff;
}

input[type=checkbox]:not(:checked)+ label {
    border: 1px solid #000;
    background-color: #fff;
    color:#000

} */