@import "normalize.css";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    position:relative;
}
/*-------header-------*/

.header{
    font-family: 'Jost', sans-serif;
    position:sticky;
    top:0px;
    z-index: 1;
    margin:px;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color:#fff;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
}

img#logo{   
    height:70px;
} 

.header nav ul{
    display:flex;
    list-style: none;
}

.header nav ul a{
    font-family: 'Jost', sans-serif;
    font-weight:500;
    color:#000;
    display:flex;
    flex-wrap: wrap;
    text-decoration:none;
    margin-right:100px;
    font-size: 20px; 
}

.header nav ul a:hover{
    font-weight: 700;
    color:#000;
    display:flex;
    flex-wrap: wrap;
    text-decoration: none;
    margin-right:100px;
}

/* ---dropdown--- */

.dropdown{
    display:block;
    position:relative;
}

.dropdown .dropdown_list{
    display:none;
    position: absolute;
    background-color: #fff;
    margin-right: 0;
    width:15vw;
    box-shadow:0px 1px 8px 0px #000;
    z-index: 1;  
    padding:20px;
}
.dropdown .dropdown_list a{
    text-transform: capitalize;
    width: 100%;
    margin-bottom: 5px;
}

.dropdown .dropdown_list h4{
    padding-bottom: 3%;
} 
.dropdown .dropdown_list div{
    padding-bottom: 3%;
}
.dropdown_categories {
    width:100%;
}

.dropdown:hover .dropdown_list{
    display:block;
}

/* ---dropdown--- */
.searchbar{
    font-family: 'Jost', sans-serif;
    display: flex;
}
 
.searchbar .search_box input{
    font-family: 'Jost', sans-serif;
    width:400px;
    height:40px;
    border-right: none;
    padding:10px;
    background-color: #eee;
    border:none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
} 

.searchbar .button button{
    border:none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    height:100%;
    padding:10px;
}

.icons i{
    font-size: 24px;
    padding-bottom: 5%;
}

.icons a{
    font-family: 'Jost', sans-serif;
    margin-left: 30px;
    text-decoration: none;
    color:#000;
    font-size: 14px;
}

.icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}
